.sidebar{
  height: 100vh;
  background-color: antiquewhite;
  position: fixed;
  width: 256px;
}
.link{
  text-decoration: none;
  width: 250px ;
}
.left{
  margin-left: 256px;
}
.box{
  width: 50px;
  height: 55px;
  background-color: lightgray;
}